{
  "openapi": "3.1.0",
  "info": {
    "title": "BodySpec API",
    "description": "This API allows BodySpec users to integrate their DEXA scan data with other platforms.\n\nIt is currently in early-access and we welcome feedback to help us improve it. For help with the API, please email us at dev-support@bodyspec.com\n\n## Authentication\n\nMost endpoints require authentication. BodySpec uses an OIDC-compliant authentication server that supports two authentication methods:\n\n#### Option 1: OAuth2 (Recommended for interactive use)\nBest for web applications and interactive API testing:\n\n1. Click the \"Authorize\" button in the API documentation\n2. You'll be redirected to BodySpec's Auth Portal to login\n3. After successful login, you'll be redirected back with an access token\n4. The token will be automatically used for API requests\n\n#### Option 2: Partner Auth (For partner integrations only)\nFor authorized partner integrations:\n\n1. Contact BodySpec to obtain partner credentials\n2. Include credentials in the `Authorization` header: `Basic base64(partner_id:partner_secret)`\n",
    "license": {
      "name": "Proprietary"
    },
    "version": "0.14.3"
  },
  "servers": [
    {
      "url": "https://app.bodyspec.com",
      "description": "Production server"
    }
  ],
  "paths": {
    "/api/info": {
      "get": {
        "tags": [
          "API Status"
        ],
        "summary": "Get API info",
        "description": "Get basic information about the API including version and available endpoints.",
        "operationId": "api_info_api_info_get",
        "responses": {
          "200": {
            "description": "API information",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": true,
                  "type": "object",
                  "title": "Response Api Info Api Info Get"
                },
                "example": {
                  "name": "BodySpec API",
                  "version": "0.14.3",
                  "description": "API for users to access their BodySpec data",
                  "documentation": "/docs",
                  "openapi": "/openapi.json",
                  "health": "/health"
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "tags": [
          "API Status"
        ],
        "summary": "Check API health",
        "description": "Check if the API is healthy and responding to requests.",
        "operationId": "health_check_health_get",
        "responses": {
          "200": {
            "description": "API is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": {
                    "type": "string"
                  },
                  "type": "object",
                  "title": "Response Health Check Health Get"
                },
                "example": {
                  "status": "healthy",
                  "environment": "development",
                  "version": "0.14.3"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/me": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get user info",
        "description": "Retrieve the profile information of the currently authenticated user.",
        "operationId": "_get_user_api_v1_users_me_get",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                },
                "example": {
                  "user_id": "12345678901234567890123456789012",
                  "email": "user@example.com",
                  "first_name": "John",
                  "last_name": "Doe",
                  "phone": "+14155551234"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Not authenticated"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Insufficient permissions"
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "example": {
                  "detail": "User not found"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "OAuth2AuthorizationCodeBearer": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Users"
        ],
        "summary": "Update user info",
        "description": "Update the profile information of the currently authenticated user.",
        "operationId": "_update_user_api_v1_users_me_patch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                },
                "example": {
                  "user_id": "12345678901234567890123456789012",
                  "email": "user@example.com",
                  "first_name": "John",
                  "last_name": "Smith",
                  "phone": "+14155559999"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request data",
            "content": {
              "application/json": {
                "example": {
                  "detail": [
                    {
                      "loc": [
                        "body",
                        "phone"
                      ],
                      "msg": "string does not match regex",
                      "type": "value_error.str.regex"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Not authenticated"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Insufficient permissions"
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "example": {
                  "detail": "User not found"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "OAuth2AuthorizationCodeBearer": []
          }
        ]
      }
    },
    "/api/v1/users/me/appts": {
      "get": {
        "tags": [
          "Appointments"
        ],
        "summary": "List user appts",
        "description": "Retrieve paginated list of appointments for the authenticated user.",
        "operationId": "_list_appts_api_v1_users_me_appts_get",
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "OAuth2AuthorizationCodeBearer": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Page number (starts at 1)",
              "default": 1,
              "title": "Page"
            },
            "description": "Page number (starts at 1)"
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Items per page (max 100)",
              "default": 20,
              "title": "Page Size"
            },
            "description": "Items per page (max 100)"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by status (scheduled, completed, no_show)",
              "title": "Status"
            },
            "description": "Filter by status (scheduled, completed, no_show)"
          },
          {
            "name": "sort_order",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/SortOrder",
              "description": "Sort order: 'newest_first' (latest appointments first) or 'oldest_first' (earliest appointments first)"
            },
            "description": "Sort order: 'newest_first' (latest appointments first) or 'oldest_first' (earliest appointments first)"
          },
          {
            "name": "start_time[eq]",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "ISO 8601 datetime: start_time = value",
              "title": "Start Time[Eq]"
            },
            "description": "ISO 8601 datetime: start_time = value"
          },
          {
            "name": "start_time[gt]",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "ISO 8601 datetime: start_time > value",
              "title": "Start Time[Gt]"
            },
            "description": "ISO 8601 datetime: start_time > value"
          },
          {
            "name": "start_time[gte]",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "ISO 8601 datetime: start_time >= value",
              "title": "Start Time[Gte]"
            },
            "description": "ISO 8601 datetime: start_time >= value"
          },
          {
            "name": "start_time[lt]",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "ISO 8601 datetime: start_time < value",
              "title": "Start Time[Lt]"
            },
            "description": "ISO 8601 datetime: start_time < value"
          },
          {
            "name": "start_time[lte]",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "ISO 8601 datetime: start_time <= value",
              "title": "Start Time[Lte]"
            },
            "description": "ISO 8601 datetime: start_time <= value"
          },
          {
            "name": "reserve_time[eq]",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "ISO 8601 datetime: reserve_time = value",
              "title": "Reserve Time[Eq]"
            },
            "description": "ISO 8601 datetime: reserve_time = value"
          },
          {
            "name": "reserve_time[gt]",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "ISO 8601 datetime: reserve_time > value",
              "title": "Reserve Time[Gt]"
            },
            "description": "ISO 8601 datetime: reserve_time > value"
          },
          {
            "name": "reserve_time[gte]",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "ISO 8601 datetime: reserve_time >= value",
              "title": "Reserve Time[Gte]"
            },
            "description": "ISO 8601 datetime: reserve_time >= value"
          },
          {
            "name": "reserve_time[lt]",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "ISO 8601 datetime: reserve_time < value",
              "title": "Reserve Time[Lt]"
            },
            "description": "ISO 8601 datetime: reserve_time < value"
          },
          {
            "name": "reserve_time[lte]",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "ISO 8601 datetime: reserve_time <= value",
              "title": "Reserve Time[Lte]"
            },
            "description": "ISO 8601 datetime: reserve_time <= value"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApptListResponse"
                },
                "example": {
                  "appts": [
                    {
                      "appt_id": "a5950beea2a7487fb79cfdbeb77fa555",
                      "start_time": "2024-03-15T10:30:00-07:00",
                      "duration_minutes": 12,
                      "location": {
                        "location_id": "a5950beea2a7487fb79cfdbeb77fa555",
                        "name": "BodySpec - Culver City",
                        "address": "5847 Uplander Way",
                        "city_state": "Culver City, CA",
                        "timezone": "US/Pacific"
                      },
                      "service": {
                        "name": "DEXA",
                        "description": "Dual-energy X-ray Absorptiometry scan for body composition"
                      },
                      "status": "completed",
                      "reserve_time": "2024-03-01T15:00:00Z"
                    },
                    {
                      "appt_id": "d7ecde6e9518008607e0e1e3b4b960d9",
                      "start_time": "2024-04-20T14:00:00-05:00",
                      "duration_minutes": 12,
                      "location": {
                        "location_id": "d7ecde6e9518008607e0e1e3b4b960d9",
                        "name": "BodySpec - Dallas",
                        "address": "6310 Lemmon Ave Suite 150",
                        "city_state": "Dallas, TX",
                        "timezone": "US/Central"
                      },
                      "service": {
                        "name": "DEXA",
                        "description": "Dual-energy X-ray Absorptiometry scan for body composition"
                      },
                      "status": "scheduled"
                    }
                  ],
                  "pagination": {
                    "page": 1,
                    "page_size": 20,
                    "has_more": true
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Not authenticated"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Insufficient permissions"
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "example": {
                  "detail": "User not found"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/me/appts/{appt_id}": {
      "get": {
        "tags": [
          "Appointments"
        ],
        "summary": "Get appt details",
        "description": "Retrieve detailed information for a specific appointment.",
        "operationId": "_get_appt_api_v1_users_me_appts__appt_id__get",
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "OAuth2AuthorizationCodeBearer": []
          }
        ],
        "parameters": [
          {
            "name": "appt_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Appt Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Appointment"
                },
                "example": {
                  "appt_id": "a5950beea2a7487fb79cfdbeb77fa555",
                  "start_time": "2024-03-15T10:30:00-07:00",
                  "duration_minutes": 12,
                  "location": {
                    "location_id": "a5950beea2a7487fb79cfdbeb77fa555",
                    "name": "BodySpec - Culver City",
                    "address": "5847 Uplander Way",
                    "city_state": "Culver City, CA",
                    "timezone": "US/Pacific"
                  },
                  "service": {
                    "name": "DEXA",
                    "description": "Dual-energy X-ray Absorptiometry scan for body composition"
                  },
                  "status": "completed"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Not authenticated"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Insufficient permissions"
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "example": {
                  "detail": "User not found"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/me/results/": {
      "get": {
        "tags": [
          "Results"
        ],
        "summary": "List user results",
        "description": "Get a paginated list of all results for the authenticated user.",
        "operationId": "_get_results_api_v1_users_me_results__get",
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "OAuth2AuthorizationCodeBearer": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Page number (starts at 1)",
              "default": 1,
              "title": "Page"
            },
            "description": "Page number (starts at 1)"
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Items per page (max 100)",
              "default": 20,
              "title": "Page Size"
            },
            "description": "Items per page (max 100)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultsListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Not authenticated"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Insufficient permissions"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/me/results/{result_id}": {
      "get": {
        "tags": [
          "Results"
        ],
        "summary": "Get result details",
        "description": "Get detailed information about a specific result including available sections.",
        "operationId": "_get_result_detail_api_v1_users_me_results__result_id__get",
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "OAuth2AuthorizationCodeBearer": []
          }
        ],
        "parameters": [
          {
            "name": "result_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Result Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDetailResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Not authenticated"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Insufficient permissions"
                }
              }
            }
          },
          "404": {
            "description": "Result not found",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Result not found"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/me/results/{result_id}/dexa/scan-info": {
      "get": {
        "tags": [
          "Results"
        ],
        "summary": "DEXA - Scan info",
        "description": "Get basic scan metadata and information for a DEXA result.",
        "operationId": "_get_dexa_scan_info_api_v1_users_me_results__result_id__dexa_scan_info_get",
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "OAuth2AuthorizationCodeBearer": []
          }
        ],
        "parameters": [
          {
            "name": "result_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Result Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DexaScanInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Result is not a DEXA scan",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Result is not a DEXA scan"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Not authenticated"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Insufficient permissions"
                }
              }
            }
          },
          "404": {
            "description": "Result not found or section not available",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Result not found"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/me/results/{result_id}/dexa/composition": {
      "get": {
        "tags": [
          "Results"
        ],
        "summary": "DEXA - Body comp",
        "description": "Get body composition data by region for a DEXA result.",
        "operationId": "_get_dexa_composition_api_v1_users_me_results__result_id__dexa_composition_get",
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "OAuth2AuthorizationCodeBearer": []
          }
        ],
        "parameters": [
          {
            "name": "result_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Result Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DexaCompositionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Result is not a DEXA scan",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Result is not a DEXA scan"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Not authenticated"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Insufficient permissions"
                }
              }
            }
          },
          "404": {
            "description": "Result not found or section not available",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Result not found"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/me/results/{result_id}/dexa/bone-density": {
      "get": {
        "tags": [
          "Results"
        ],
        "summary": "DEXA - Bone density",
        "description": "Get bone mineral density measurements for a DEXA result.",
        "operationId": "_get_dexa_bone_density_api_v1_users_me_results__result_id__dexa_bone_density_get",
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "OAuth2AuthorizationCodeBearer": []
          }
        ],
        "parameters": [
          {
            "name": "result_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Result Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DexaBoneDensityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Result is not a DEXA scan",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Result is not a DEXA scan"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Not authenticated"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Insufficient permissions"
                }
              }
            }
          },
          "404": {
            "description": "Result not found or section not available",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Result not found"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/me/results/{result_id}/dexa/percentiles": {
      "get": {
        "tags": [
          "Results"
        ],
        "summary": "DEXA - Percentiles",
        "description": "Get age and gender-matched percentile rankings for a DEXA result.",
        "operationId": "_get_dexa_percentiles_api_v1_users_me_results__result_id__dexa_percentiles_get",
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "OAuth2AuthorizationCodeBearer": []
          }
        ],
        "parameters": [
          {
            "name": "result_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Result Id"
            }
          },
          {
            "name": "min_age",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Minimum age for reference range (optional)",
              "title": "Min Age"
            },
            "description": "Minimum age for reference range (optional)"
          },
          {
            "name": "max_age",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Maximum age for reference range (optional)",
              "title": "Max Age"
            },
            "description": "Maximum age for reference range (optional)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DexaPercentilesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Result is not a DEXA scan",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Result is not a DEXA scan"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Not authenticated"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Insufficient permissions"
                }
              }
            }
          },
          "404": {
            "description": "Result not found or section not available",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Result not found"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/me/results/{result_id}/dexa/visceral-fat": {
      "get": {
        "tags": [
          "Results"
        ],
        "summary": "DEXA - Visceral fat",
        "description": "Get visceral adipose tissue analysis for a DEXA result.",
        "operationId": "_get_dexa_visceral_fat_api_v1_users_me_results__result_id__dexa_visceral_fat_get",
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "OAuth2AuthorizationCodeBearer": []
          }
        ],
        "parameters": [
          {
            "name": "result_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Result Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DexaVisceralFatResponse"
                }
              }
            }
          },
          "400": {
            "description": "Result is not a DEXA scan",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Result is not a DEXA scan"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Not authenticated"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Insufficient permissions"
                }
              }
            }
          },
          "404": {
            "description": "Result not found or section not available",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Result not found"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/me/results/{result_id}/dexa/rmr": {
      "get": {
        "tags": [
          "Results"
        ],
        "summary": "DEXA - RMR",
        "description": "Get resting metabolic rate estimates for a DEXA result.",
        "operationId": "_get_dexa_rmr_api_v1_users_me_results__result_id__dexa_rmr_get",
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "OAuth2AuthorizationCodeBearer": []
          }
        ],
        "parameters": [
          {
            "name": "result_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Result Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DexaRmrResponse"
                }
              }
            }
          },
          "400": {
            "description": "Result is not a DEXA scan",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Result is not a DEXA scan"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Not authenticated"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Insufficient permissions"
                }
              }
            }
          },
          "404": {
            "description": "Result not found or section not available",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Result not found"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/locations/{location_id}/availability": {
      "get": {
        "tags": [
          "Availability"
        ],
        "summary": "Get availability at a location",
        "description": "Get available appointment slots at a specific location. Use start_time filters to narrow results. Availability is limited to 24 hours through 120 days in the future.",
        "operationId": "_get_availability_api_v1_locations__location_id__availability_get",
        "parameters": [
          {
            "name": "location_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Location Id"
            }
          },
          {
            "name": "start_time[eq]",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "ISO 8601 datetime: start_time = value. Uses location timezone if not specified.",
              "title": "Start Time[Eq]"
            },
            "description": "ISO 8601 datetime: start_time = value. Uses location timezone if not specified."
          },
          {
            "name": "start_time[gt]",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "ISO 8601 datetime: start_time > value. Uses location timezone if not specified.",
              "title": "Start Time[Gt]"
            },
            "description": "ISO 8601 datetime: start_time > value. Uses location timezone if not specified."
          },
          {
            "name": "start_time[gte]",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "ISO 8601 datetime: start_time >= value. Uses location timezone if not specified.",
              "title": "Start Time[Gte]"
            },
            "description": "ISO 8601 datetime: start_time >= value. Uses location timezone if not specified."
          },
          {
            "name": "start_time[lt]",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "ISO 8601 datetime: start_time < value. Uses location timezone if not specified.",
              "title": "Start Time[Lt]"
            },
            "description": "ISO 8601 datetime: start_time < value. Uses location timezone if not specified."
          },
          {
            "name": "start_time[lte]",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "ISO 8601 datetime: start_time <= value. Uses location timezone if not specified.",
              "title": "Start Time[Lte]"
            },
            "description": "ISO 8601 datetime: start_time <= value. Uses location timezone if not specified."
          },
          {
            "name": "service_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional service/product ID to filter by",
              "title": "Service Id"
            },
            "description": "Optional service/product ID to filter by"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Page number (starts at 1)",
              "default": 1,
              "title": "Page"
            },
            "description": "Page number (starts at 1)"
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Items per page (max 100)",
              "default": 100,
              "title": "Page Size"
            },
            "description": "Items per page (max 100)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AvailabilityResponse"
                },
                "example": {
                  "slots": [
                    {
                      "appt_id": "appt123",
                      "location_id": "loc456",
                      "service_id": "svc789",
                      "start_time": "2025-01-15T14:00:00-08:00",
                      "duration_minutes": 12,
                      "timezone": "America/Los_Angeles",
                      "is_available": true
                    }
                  ],
                  "pagination": {
                    "page": 1,
                    "page_size": 100,
                    "has_more": true
                  },
                  "max_availability_days": 120
                }
              }
            }
          },
          "400": {
            "description": "Invalid request data",
            "content": {
              "application/json": {
                "example": {
                  "detail": [
                    {
                      "loc": [
                        "body",
                        "phone"
                      ],
                      "msg": "string does not match regex",
                      "type": "value_error.str.regex"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Location not found"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Service type does not have a configured duration"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/api/v1/locations/availability": {
      "get": {
        "tags": [
          "Availability"
        ],
        "summary": "Get availability across multiple locations",
        "description": "Get available appointment slots across multiple locations in a single request. Slots are sorted by start time globally across all locations.",
        "operationId": "_get_multi_availability_api_v1_locations_availability_get",
        "parameters": [
          {
            "name": "location_ids",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "minItems": 1,
              "description": "Location IDs to search (1-10, repeated query param)",
              "title": "Location Ids"
            },
            "description": "Location IDs to search (1-10, repeated query param)"
          },
          {
            "name": "start_time[eq]",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "ISO 8601 datetime with timezone: start_time = value",
              "title": "Start Time[Eq]"
            },
            "description": "ISO 8601 datetime with timezone: start_time = value"
          },
          {
            "name": "start_time[gt]",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "ISO 8601 datetime with timezone: start_time > value",
              "title": "Start Time[Gt]"
            },
            "description": "ISO 8601 datetime with timezone: start_time > value"
          },
          {
            "name": "start_time[gte]",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "ISO 8601 datetime with timezone: start_time >= value",
              "title": "Start Time[Gte]"
            },
            "description": "ISO 8601 datetime with timezone: start_time >= value"
          },
          {
            "name": "start_time[lt]",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "ISO 8601 datetime with timezone: start_time < value",
              "title": "Start Time[Lt]"
            },
            "description": "ISO 8601 datetime with timezone: start_time < value"
          },
          {
            "name": "start_time[lte]",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "ISO 8601 datetime with timezone: start_time <= value",
              "title": "Start Time[Lte]"
            },
            "description": "ISO 8601 datetime with timezone: start_time <= value"
          },
          {
            "name": "service_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional service/product ID to filter by",
              "title": "Service Id"
            },
            "description": "Optional service/product ID to filter by"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Page number (starts at 1)",
              "default": 1,
              "title": "Page"
            },
            "description": "Page number (starts at 1)"
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Items per page (max 100)",
              "default": 100,
              "title": "Page Size"
            },
            "description": "Items per page (max 100)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultiLocationAvailabilityResponse"
                },
                "example": {
                  "slots": [
                    {
                      "appt_id": "appt123",
                      "location_id": "loc456",
                      "service_id": "svc789",
                      "start_time": "2025-01-15T14:00:00-08:00",
                      "duration_minutes": 12,
                      "timezone": "America/Los_Angeles",
                      "is_available": true
                    },
                    {
                      "appt_id": "appt456",
                      "location_id": "loc789",
                      "service_id": "svc789",
                      "start_time": "2025-01-15T15:00:00-06:00",
                      "duration_minutes": 12,
                      "timezone": "America/Chicago",
                      "is_available": true
                    }
                  ],
                  "pagination": {
                    "page": 1,
                    "page_size": 100,
                    "results": 2,
                    "has_more": false
                  },
                  "max_availability_days": 120,
                  "skipped_location_ids": [
                    "bad_loc"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request data",
            "content": {
              "application/json": {
                "example": {
                  "detail": [
                    {
                      "loc": [
                        "body",
                        "phone"
                      ],
                      "msg": "string does not match regex",
                      "type": "value_error.str.regex"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Service type does not have a configured duration"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/api/v1/locations": {
      "get": {
        "tags": [
          "Locations"
        ],
        "summary": "List locations",
        "description": "Get a list of BodySpec scan locations with optional filtering by type and geographic proximity.",
        "operationId": "_list_locations_api_v1_locations_get",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Page number (starts at 1)",
              "default": 1,
              "title": "Page"
            },
            "description": "Page number (starts at 1)"
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Items per page (max 100)",
              "default": 20,
              "title": "Page Size"
            },
            "description": "Items per page (max 100)"
          },
          {
            "name": "location_type",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by type: 'mobile' or 'storefront'",
              "title": "Location Type"
            },
            "description": "Filter by type: 'mobile' or 'storefront'"
          },
          {
            "name": "lat",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Latitude for geographic search",
              "title": "Lat"
            },
            "description": "Latitude for geographic search"
          },
          {
            "name": "lng",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Longitude for geographic search",
              "title": "Lng"
            },
            "description": "Longitude for geographic search"
          },
          {
            "name": "radius_miles",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number",
                  "maximum": 500,
                  "minimum": 0
                },
                {
                  "type": "null"
                }
              ],
              "description": "Search radius in miles (max 500)",
              "title": "Radius Miles"
            },
            "description": "Search radius in miles (max 500)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationsListResponse"
                },
                "example": {
                  "locations": [
                    {
                      "location_id": "abc123",
                      "name": "BodySpec - San Francisco",
                      "location_type": "storefront",
                      "address": {
                        "address_line1": "295 Broadway",
                        "city": "San Francisco",
                        "state": "CA",
                        "postal_code": "94108",
                        "country": "US"
                      },
                      "coordinates": {
                        "latitude": 37.7986,
                        "longitude": -122.4063
                      },
                      "timezone": "America/Los_Angeles",
                      "distance_miles": 1.23
                    }
                  ],
                  "pagination": {
                    "page": 1,
                    "page_size": 20,
                    "has_more": true
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request data",
            "content": {
              "application/json": {
                "example": {
                  "detail": [
                    {
                      "loc": [
                        "body",
                        "phone"
                      ],
                      "msg": "string does not match regex",
                      "type": "value_error.str.regex"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/api/v1/locations/{location_id}": {
      "get": {
        "tags": [
          "Locations"
        ],
        "summary": "Get location details",
        "description": "Get detailed information about a specific location.",
        "operationId": "_get_location_api_v1_locations__location_id__get",
        "parameters": [
          {
            "name": "location_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Location Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationResponse"
                },
                "example": {
                  "location": {
                    "location_id": "abc123",
                    "name": "BodySpec - San Francisco",
                    "location_type": "storefront",
                    "address": {
                      "address_line1": "295 Broadway",
                      "city": "San Francisco",
                      "state": "CA",
                      "country": "US"
                    },
                    "coordinates": {
                      "latitude": 37.7986,
                      "longitude": -122.4063
                    },
                    "timezone": "America/Los_Angeles"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Location not found"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/api/v1/services": {
      "get": {
        "tags": [
          "Services"
        ],
        "summary": "List available services",
        "description": "Get a list of available scan/test services that can be booked. Currently returns DEXA scans only.",
        "operationId": "_list_services_api_v1_services_get",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Page number (starts at 1)",
              "default": 1,
              "title": "Page"
            },
            "description": "Page number (starts at 1)"
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Items per page (max 100)",
              "default": 20,
              "title": "Page Size"
            },
            "description": "Items per page (max 100)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServicesListResponse"
                },
                "example": {
                  "services": [
                    {
                      "name": "DEXA",
                      "description": "Dual-energy X-ray Absorptiometry",
                      "service_id": "8d0e0a1f561f4ec69dbca50ea14336d",
                      "service_code": "DXA",
                      "duration_minutes": 15
                    }
                  ],
                  "pagination": {
                    "page": 1,
                    "page_size": 20,
                    "has_more": false
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request data",
            "content": {
              "application/json": {
                "example": {
                  "detail": [
                    {
                      "loc": [
                        "body",
                        "phone"
                      ],
                      "msg": "string does not match regex",
                      "type": "value_error.str.regex"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/api/v1/services/{service_id}": {
      "get": {
        "tags": [
          "Services"
        ],
        "summary": "Get service details",
        "description": "Get detailed information about a specific service.",
        "operationId": "_get_service_api_v1_services__service_id__get",
        "parameters": [
          {
            "name": "service_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Service Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceResponse"
                },
                "example": {
                  "service": {
                    "name": "DEXA",
                    "description": "Dual-energy X-ray Absorptiometry",
                    "service_id": "8d0e0a1f561f4ec69dbca50ea14336d",
                    "service_code": "DXA",
                    "duration_minutes": 15
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Service not found"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/api/v1/partners/{partner_id}/reservations": {
      "get": {
        "tags": [
          "Reservations"
        ],
        "summary": "List partner reservations",
        "description": "Retrieve paginated list of reservations for the authenticated partner.",
        "operationId": "_list_partner_reservations_api_v1_partners__partner_id__reservations_get",
        "security": [
          {
            "HTTPBasic": []
          },
          {
            "PartnerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "partner_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Partner ID",
              "title": "Partner Id"
            },
            "description": "Partner ID"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Page number (starts at 1)",
              "default": 1,
              "title": "Page"
            },
            "description": "Page number (starts at 1)"
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Items per page (max 100)",
              "default": 20,
              "title": "Page Size"
            },
            "description": "Items per page (max 100)"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by status (scheduled, completed, no_show)",
              "title": "Status"
            },
            "description": "Filter by status (scheduled, completed, no_show)"
          },
          {
            "name": "sort_order",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/SortOrder",
              "description": "Sort order: 'newest_first' or 'oldest_first'"
            },
            "description": "Sort order: 'newest_first' or 'oldest_first'"
          },
          {
            "name": "start_time[eq]",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "ISO 8601 datetime: start_time = value",
              "title": "Start Time[Eq]"
            },
            "description": "ISO 8601 datetime: start_time = value"
          },
          {
            "name": "start_time[gt]",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "ISO 8601 datetime: start_time > value",
              "title": "Start Time[Gt]"
            },
            "description": "ISO 8601 datetime: start_time > value"
          },
          {
            "name": "start_time[gte]",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "ISO 8601 datetime: start_time >= value",
              "title": "Start Time[Gte]"
            },
            "description": "ISO 8601 datetime: start_time >= value"
          },
          {
            "name": "start_time[lt]",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "ISO 8601 datetime: start_time < value",
              "title": "Start Time[Lt]"
            },
            "description": "ISO 8601 datetime: start_time < value"
          },
          {
            "name": "start_time[lte]",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "ISO 8601 datetime: start_time <= value",
              "title": "Start Time[Lte]"
            },
            "description": "ISO 8601 datetime: start_time <= value"
          },
          {
            "name": "reserve_time[eq]",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "ISO 8601 datetime: reserve_time = value",
              "title": "Reserve Time[Eq]"
            },
            "description": "ISO 8601 datetime: reserve_time = value"
          },
          {
            "name": "reserve_time[gt]",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "ISO 8601 datetime: reserve_time > value",
              "title": "Reserve Time[Gt]"
            },
            "description": "ISO 8601 datetime: reserve_time > value"
          },
          {
            "name": "reserve_time[gte]",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "ISO 8601 datetime: reserve_time >= value",
              "title": "Reserve Time[Gte]"
            },
            "description": "ISO 8601 datetime: reserve_time >= value"
          },
          {
            "name": "reserve_time[lt]",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "ISO 8601 datetime: reserve_time < value",
              "title": "Reserve Time[Lt]"
            },
            "description": "ISO 8601 datetime: reserve_time < value"
          },
          {
            "name": "reserve_time[lte]",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "ISO 8601 datetime: reserve_time <= value",
              "title": "Reserve Time[Lte]"
            },
            "description": "ISO 8601 datetime: reserve_time <= value"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerReservationsListResponse"
                },
                "example": {
                  "reservations": [
                    {
                      "user": {
                        "user_id": "a5950beea2a7487fb79cfdbeb77fa555",
                        "email": "user@example.com",
                        "first_name": "Jane",
                        "last_name": "Smith",
                        "phone": "+14155551234"
                      },
                      "appt": {
                        "appt_id": "d7ecde6e9518008607e0e1e3b4b960d9",
                        "start_time": "2024-03-15T10:30:00-07:00",
                        "duration_minutes": 12,
                        "location": {
                          "location_id": "loc123",
                          "name": "BodySpec - Culver City",
                          "location_type": "storefront"
                        },
                        "service": {
                          "name": "DEXA",
                          "description": "DEXA Scan"
                        },
                        "status": "scheduled",
                        "reserve_time": "2024-03-01T15:30:00Z"
                      }
                    }
                  ],
                  "pagination": {
                    "page": 1,
                    "page_size": 20,
                    "results": 1,
                    "has_more": false
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid partner authentication"
          },
          "403": {
            "description": "Partner ID mismatch"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Reservations"
        ],
        "summary": "Create reservation",
        "description": "Create an appointment reservation for a partner integration.",
        "operationId": "_create_reservation_api_v1_partners__partner_id__reservations_post",
        "security": [
          {
            "HTTPBasic": []
          },
          {
            "PartnerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "partner_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Partner ID",
              "title": "Partner Id"
            },
            "description": "Partner ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReservationCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReservationResponse"
                },
                "example": {
                  "appt_id": "12345",
                  "user_id": "a5950beea2a7487fb79cfdbeb77fa555",
                  "reserve_time": "2024-03-15T10:30:00Z",
                  "external": {
                    "user_id": "partner_user_456",
                    "appt_id": "partner_booking_123"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or reservation failed"
          },
          "401": {
            "description": "Invalid partner authentication"
          },
          "403": {
            "description": "Partner ID mismatch"
          },
          "404": {
            "description": "Appointment not found"
          },
          "409": {
            "description": "Appointment already reserved"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/partners/{partner_id}/reservations/{appt_id}": {
      "delete": {
        "tags": [
          "Reservations"
        ],
        "summary": "Cancel reservation",
        "description": "Cancel an existing reservation.",
        "operationId": "_cancel_reservation_api_v1_partners__partner_id__reservations__appt_id__delete",
        "security": [
          {
            "HTTPBasic": []
          },
          {
            "PartnerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "partner_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Partner ID",
              "title": "Partner Id"
            },
            "description": "Partner ID"
          },
          {
            "name": "appt_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "BodySpec appointment ID",
              "title": "Appt Id"
            },
            "description": "BodySpec appointment ID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/ReservationCancelRequest"
                  },
                  {
                    "type": "null"
                  }
                ],
                "title": "Body"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Reservation cancelled successfully"
          },
          "400": {
            "description": "Cannot cancel reservation"
          },
          "401": {
            "description": "Invalid partner authentication"
          },
          "403": {
            "description": "Partner ID mismatch"
          },
          "404": {
            "description": "Appointment not found"
          },
          "405": {
            "description": "Appointment cannot be cancelled"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/partners/{partner_id}/users": {
      "get": {
        "tags": [
          "Partner Users"
        ],
        "summary": "List partner users",
        "description": "Retrieve paginated list of users linked to the authenticated partner.",
        "operationId": "_list_partner_users_api_v1_partners__partner_id__users_get",
        "security": [
          {
            "HTTPBasic": []
          },
          {
            "PartnerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "partner_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Partner ID",
              "title": "Partner Id"
            },
            "description": "Partner ID"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Page number (starts at 1)",
              "default": 1,
              "title": "Page"
            },
            "description": "Page number (starts at 1)"
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Items per page (max 100)",
              "default": 20,
              "title": "Page Size"
            },
            "description": "Items per page (max 100)"
          },
          {
            "name": "link_time[eq]",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "ISO 8601 datetime: link_time = value",
              "title": "Link Time[Eq]"
            },
            "description": "ISO 8601 datetime: link_time = value"
          },
          {
            "name": "link_time[gt]",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "ISO 8601 datetime: link_time > value",
              "title": "Link Time[Gt]"
            },
            "description": "ISO 8601 datetime: link_time > value"
          },
          {
            "name": "link_time[gte]",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "ISO 8601 datetime: link_time >= value",
              "title": "Link Time[Gte]"
            },
            "description": "ISO 8601 datetime: link_time >= value"
          },
          {
            "name": "link_time[lt]",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "ISO 8601 datetime: link_time < value",
              "title": "Link Time[Lt]"
            },
            "description": "ISO 8601 datetime: link_time < value"
          },
          {
            "name": "link_time[lte]",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "ISO 8601 datetime: link_time <= value",
              "title": "Link Time[Lte]"
            },
            "description": "ISO 8601 datetime: link_time <= value"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerUsersListResponse"
                },
                "example": {
                  "users": [
                    {
                      "user_id": "a5950beea2a7487fb79cfdbeb77fa555",
                      "email": "user@example.com",
                      "first_name": "Jane",
                      "last_name": "Smith",
                      "phone": "+14155551234",
                      "link_time": "2024-01-15T10:30:00Z"
                    }
                  ],
                  "pagination": {
                    "page": 1,
                    "page_size": 20,
                    "results": 1,
                    "has_more": false
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid partner authentication"
          },
          "403": {
            "description": "Partner ID mismatch"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/partners/{partner_id}/users/{user_id}/appts": {
      "get": {
        "tags": [
          "Partner Appointments"
        ],
        "summary": "List partner user appts",
        "description": "Retrieve paginated list of appointments for a specific user linked to the partner.",
        "operationId": "_list_partner_user_appointments_api_v1_partners__partner_id__users__user_id__appts_get",
        "security": [
          {
            "HTTPBasic": []
          },
          {
            "PartnerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "partner_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Partner ID",
              "title": "Partner Id"
            },
            "description": "Partner ID"
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "User ID",
              "title": "User Id"
            },
            "description": "User ID"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Page number (starts at 1)",
              "default": 1,
              "title": "Page"
            },
            "description": "Page number (starts at 1)"
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Items per page (max 100)",
              "default": 20,
              "title": "Page Size"
            },
            "description": "Items per page (max 100)"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by status (scheduled, completed, no_show)",
              "title": "Status"
            },
            "description": "Filter by status (scheduled, completed, no_show)"
          },
          {
            "name": "sort_order",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/SortOrder",
              "description": "Sort order: 'newest_first' or 'oldest_first'"
            },
            "description": "Sort order: 'newest_first' or 'oldest_first'"
          },
          {
            "name": "start_time[eq]",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "ISO 8601 datetime: start_time = value",
              "title": "Start Time[Eq]"
            },
            "description": "ISO 8601 datetime: start_time = value"
          },
          {
            "name": "start_time[gt]",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "ISO 8601 datetime: start_time > value",
              "title": "Start Time[Gt]"
            },
            "description": "ISO 8601 datetime: start_time > value"
          },
          {
            "name": "start_time[gte]",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "ISO 8601 datetime: start_time >= value",
              "title": "Start Time[Gte]"
            },
            "description": "ISO 8601 datetime: start_time >= value"
          },
          {
            "name": "start_time[lt]",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "ISO 8601 datetime: start_time < value",
              "title": "Start Time[Lt]"
            },
            "description": "ISO 8601 datetime: start_time < value"
          },
          {
            "name": "start_time[lte]",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "ISO 8601 datetime: start_time <= value",
              "title": "Start Time[Lte]"
            },
            "description": "ISO 8601 datetime: start_time <= value"
          },
          {
            "name": "reserve_time[eq]",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "ISO 8601 datetime: reserve_time = value",
              "title": "Reserve Time[Eq]"
            },
            "description": "ISO 8601 datetime: reserve_time = value"
          },
          {
            "name": "reserve_time[gt]",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "ISO 8601 datetime: reserve_time > value",
              "title": "Reserve Time[Gt]"
            },
            "description": "ISO 8601 datetime: reserve_time > value"
          },
          {
            "name": "reserve_time[gte]",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "ISO 8601 datetime: reserve_time >= value",
              "title": "Reserve Time[Gte]"
            },
            "description": "ISO 8601 datetime: reserve_time >= value"
          },
          {
            "name": "reserve_time[lt]",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "ISO 8601 datetime: reserve_time < value",
              "title": "Reserve Time[Lt]"
            },
            "description": "ISO 8601 datetime: reserve_time < value"
          },
          {
            "name": "reserve_time[lte]",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
[...]
